* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #232c33;
}

.navigation {
    width: 70px;
    height: 500px;
    background-color: #2b343b;
    border-left: 10px solid #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    transition: width 0.5s;
    overflow-x: hidden;
    position: relative;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    width: 100%;
    padding-top: 40px;
    padding-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation ul li {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    list-style: none;
    position: relative;
}

.navigation ul li.active {
    background-color: #4187f6;
}

.navigation ul li a {
    display: flex;
    width: 100%;
    color: white;
    text-decoration: none;
    position: relative;
}

.navigation ul li.active a::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #4187f6;
    position: absolute;
    top: -30px;
    right: 0;
}

.navigation ul li.active a::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #4187f6;
    position: absolute;
    bottom: -30px;
    right: 0;
}

.navigation ul li a .icon {
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    position: relative;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
    z-index: 1;
    position: relative;
}

.navigation ul li a .title {
    display: block;
    height: 60px;
    padding-left: 10px;
    line-height: 60px;
    white-space: nowrap;
    position: relative;
}
