body {
    margin: 0;
    padding: 0;
}

.search {
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: width 0.5s;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search.active {
    width: 600px;
}

.search input {
    width: calc(100% - 90px);
    height: 60px;
    padding: 0 10px;
    font-size: 36px;
    color: #666;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon::before,
.search.active .icon::before,
.search.active .icon::after {
    content: '';
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #262626;
    border-radius: 50%;
    transition: 0.5s;
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-left: 2px solid #262626;
    border-radius: 0;
    transform: rotate(-45deg);
    transition: 0.5s;
    position: absolute;
    top: 25px;
    left: 35px;
}

.search.active .icon {
    background-color: #ff355a;
}

.search.active .icon::before {
    width: 18px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-right: 2px solid white;
    transform: rotate(45deg);
    top: 7px;
    left: 13px;
}

.search.active .icon::after {
    width: 18px;
    height: 30px;
    border: none;
    border-radius: 0;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    top: 20px;
    left: 13px;
}