body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: auto;
    position: relative;
}

section h2 {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 100px;
    font-size: 40px;
    color: white;
    text-align: center;
    background: #262626;
    position: sticky;
    top: 0;
}

section:nth-child(2) h2 {
    background: #e743cc;
}

section:nth-child(3) h2 {
    background: #9b59b6;
}

section:nth-child(4) h2 {
    background: #2ecc71;
}

section:nth-child(5) h2 {
    background: #2980b9;
}

section p {
    margin: 0;
    padding: 80px 100px;
    font-size: 24px;
}